In [7]:
import json
import http.client
import time
# import boto3
import datetime as dt
import pandas as pd

In [8]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [ ]:
# GLOBAL VARIBALE CONTAINING THE LAST ID NUMBER FOR EACH TABLE
country_last_id = 0
state_last_id = 0
location_last_id = 0
time_last_id = 0
forecast_last_id = 0
observation_last_id = 0
fact_last_id = 0

In [9]:
# we may also need to make a list of timezones that correlate with each city if we want to expand the system beyond cities in NSW

cities = [
    # 'Albury',
    # 'Coffs%20Harbour',
    'Sydney',
    # 'Broken%20Hill',
    # 'Goulburn',
    # 'Dubbo',
    # # 'Newcastle',
    # 'Orange',
    # 'Wagga Wagga',
    # 'Maitland',
    # 'Wollongong',
    # 'Cessnock',
    # 'Griffith',
    # 'Armidale',
    # 'Grafton',
    # 'Queanbeyan',
    # 'Lismore',
    # 'Lithgow',
    # 'Nowra',
    # 'Tamworth',
    # 'Bathurst',
    # 'Ulladulla',
    # 'Taree',
    # 'Batemans Bay',
    # 'Port Macquarie',
    # 'Parkes',
    # 'Ballina',
    # 'Muswellbrook',
    # 'Kempsey',
    # 'Bowral',
    # 'Central Coast',
    # 'Kurri Kurri',
    # 'Singleton',
    # 'Tweed Heads',
    # 'Raymond Terrace',
    # 'Wauchope',
    # 'Mudgee',
    # 'Gunnedah',
    # 'Moree',
    # 'Byron Bay',
    # 'Inverell',
    # 'Casino',
    # 'Cooma',
    # 'Katoomba', # couldn't find on the api explorer
    # 'Leeton',
    # 'Deniliquin',
    # 'Narrabri',
    # 'Yamba',
    # 'Cowra',
    # 'Yass',
    ]

# the index for each dataframe will serve as the id number
location_df = pd.DataFrame(columns = ["state_id", "location_name", "location_lat", "location_long"])

state_df = pd.DataFrame(columns = ["count_id", "state_name"])

In [10]:
for city in cities:
    print(city)
    conn = http.client.HTTPSConnection("api.weatherapi.com")
    conn.request("GET", '/v1/current.json?key=30dc2bf00de44d26a5862046230803&q=' + city + '&aqi=no')
    res = conn.getresponse()
    print("res: ", res)
    data = res.read()
    print("date: ",data)
    decodedData = data.decode("utf-8")
    print("decodedData: ", decodedData)
    # decodedData_json = json.read(decodedData)
    decodedData_json = json.loads(decodedData)
    print("location: ", decodedData_json["location"])
    print("curret: ", decodedData_json["current"])

# we need to adjust how the json is read in
location_df = pd.DataFrame(data = decodedData_json["location"],  index = [location_last_id + 1])
location_last_id += 1

Sydney
res:  <http.client.HTTPResponse object at 0x11e294040>
date:  b'{"location":{"name":"Sydney","region":"New South Wales","country":"Australia","lat":-33.88,"lon":151.22,"tz_id":"Australia/Sydney","localtime_epoch":1682128538,"localtime":"2023-04-22 11:55"},"current":{"last_updated_epoch":1682127900,"last_updated":"2023-04-22 11:45","temp_c":20.0,"temp_f":68.0,"is_day":1,"condition":{"text":"Moderate rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"wind_mph":17.4,"wind_kph":28.1,"wind_degree":170,"wind_dir":"S","pressure_mb":1030.0,"pressure_in":30.42,"precip_mm":0.1,"precip_in":0.0,"humidity":78,"cloud":75,"feelslike_c":20.0,"feelslike_f":68.0,"vis_km":10.0,"vis_miles":6.0,"uv":5.0,"gust_mph":13.2,"gust_kph":21.2}}'
decodedData:  {"location":{"name":"Sydney","region":"New South Wales","country":"Australia","lat":-33.88,"lon":151.22,"tz_id":"Australia/Sydney","localtime_epoch":1682128538,"localtime":"2023-04-22 11:55"},"current":{"last_updated_epoch":1682127900,"last_updated":"2023-04-22 11:45","temp_c":20.0,"temp_f":68.0,"is_day":1,"condition":{"text":"Moderate rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"wind_mph":17.4,"wind_kph":28.1,"wind_degree":170,"wind_dir":"S","pressure_mb":1030.0,"pressure_in":30.42,"precip_mm":0.1,"precip_in":0.0,"humidity":78,"cloud":75,"feelslike_c":20.0,"feelslike_f":68.0,"vis_km":10.0,"vis_miles":6.0,"uv":5.0,"gust_mph":13.2,"gust_kph":21.2}}
location:  {'name': 'Sydney', 'region': 'New South Wales', 'country': 'Australia', 'lat': -33.88, 'lon': 151.22, 'tz_id': 'Australia/Sydney', 'localtime_epoch': 1682128538, 'localtime': '2023-04-22 11:55'}
curret:  {'last_updated_epoch': 1682127900, 'last_updated': '2023-04-22 11:45', 'temp_c': 20.0, 'temp_f': 68.0, 'is_day': 1, 'condition': {'text': 'Moderate rain', 'icon': '//cdn.weatherapi.com/weather/64x64/day/302.png', 'code': 1189}, 'wind_mph': 17.4, 'wind_kph': 28.1, 'wind_degree': 170, 'wind_dir': 'S', 'pressure_mb': 1030.0, 'pressure_in': 30.42, 'precip_mm': 0.1, 'precip_in': 0.0, 'humidity': 78, 'cloud': 75, 'feelslike_c': 20.0, 'feelslike_f': 68.0, 'vis_km': 10.0, 'vis_miles': 6.0, 'uv': 5.0, 'gust_mph': 13.2, 'gust_kph': 21.2}

# Note that: all times in utc!

In [12]:

# location_df["utc"] = location_df["localtime"].apply(pd.to_datetime)
location_df

,name,region,country,lat,lon,tz_id,localtime_epoch,localtime
Sydney,Sydney,New South Wales,Australia,-33.88,151.22,Australia/Sydney,1682128538,2023-04-22 11:55

In [6]:
# location_df['day'] = location_df["utc"].dt.day
# location_df['month'] = location_df["utc"].dt.month
# location_df['year'] = location_df["utc"].dt.year
# location_df['hour'] = location_df["utc"].dt.hour
# location_df['minute'] = location_df["utc"].dt.minute

In [44]:
location_df = location_df[["name", "region", "country", "lat", "lon"]]

,name,region,country,lat,lon,tz_id,localtime_epoch,localtime,utc,year,month,day,hour,minute
Sydney,Sydney,New South Wales,Australia,-33.88,151.22,Australia/Sydney,1681960283,2023-04-20 13:11,2023-04-20 13:11:00,2023,4,20,13,11

In [17]:
country_df = location_df[["country"]]
country_df = country_df.reset_index().drop(columns="index")
country_df

     country
0  Australia